

<h1>Blings Synth Test:</h1>    


<% @filepaths.each do |curpath| %>

<h3><%= curpath %></h3>
<audio controls>
  <source src="<%= curpath %>">
  <embed height="50" width="100" src="<%= curpath %>">
    Your browser does not support this audio format.
</audio>

<% end %>




