body {
    font-family: Courier;
    color: #000000;
    width: 100%;
}


#nav {
    font-family: Courier;
    color: #000000;
}

#login, #logout {
    font-family: Courier;
    color: #000000;
}


#signup_ut{
    font-family: Courier;
    color: #000000;
}

#signup {
    font-family: Courier;
    color: #000000;
}

#upper_mpt {
    font-family: Courier;
    color: #000000;
    font-size: 40px;
    margin-top: 250px;
    margin-left: 23%;
    word-wrap:normal;
}

#upper_mpt_user {
    font-family: Courier;
    color: #000000;
    font-size: 40px;
    margin-top: 45px;
    margin-left: 19%;
    word-wrap:normal;
}


#lower_mpt {
    font-family: courier;
    color: #F28F16;
    font-size: 20px;
    margin-left: 36.5%;
}

#main_search {
    margin-left: 41%
}


#login_forum {
    font-family: courier;
}


#login_forum_main {
    margin-left: 0px;
}




#inputUsername, #inputEmail, #inputPassword{
    font-size: 1.3em;
}

#signup_ut{
    font-size: 2em;
}
   